---
import "@fortawesome/fontawesome-free/css/all.min.css";

import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Sambutan from "../components/Sambutan.astro";
import Profil from "../components/Profil.astro";
import VisiMisi from "../components/VisiMisi.astro";
import Statistik from "../components/Statistik.astro";
import GuruTendik from "../components/GuruTendik.astro";
import Galeri from "../components/Galeri.astro";
import Kontak from "../components/Kontak.astro";
import Footer from "../components/Footer.astro";
---

<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>UPT SDN 265 PINRANG</title>

  <style>
    html{
      scroll-behavior:smooth;
      scroll-padding-top:95px;
    }

    body{
      margin:0;
      padding-top:95px;
      font-family:Arial, Helvetica, sans-serif;
    }

    #beranda,
    #profil,
    #guru,
    #galeri{
      scroll-margin-top:95px;
    }
  </style>

</head>

<body>

  <Header />

  <Hero />

  <Sambutan />

  <Profil />

  <VisiMisi />

  <Statistik />

  <GuruTendik />

  <Galeri />

  <Kontak />

  <Footer />

</body>

</html>