<header class="header">
  <div class="container">
    <div class="logo">
      <img src="/images/logo/logo baru 265.jpeg" alt="Logo Sekolah" />

      <div>
        <h1>UPT SDN 265 PINRANG</h1>
        <p>Unggul dalam Prestasi, Berkarakter, Beriman, dan Peduli Lingkungan</p>
      </div>
    </div>

    <nav>
  <a href="#beranda">Beranda</a>
  <a href="#profil">Profil</a>
  <a href="#guru">Guru</a>
  <a href="#galeri">Galeri</a>
  
</nav>
  </div>
</header>

<style>
.header{
  background:#0B5ED7;
  color:white;
  padding:15px 0;

  position:fixed;
  top:0;
  left:0;
  width:100%;

  z-index:9999;

  box-shadow:0 4px 20px rgba(0,0,0,.12);
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo img{
  width:60px;
  height:60px;
  object-fit:cover;
}

.logo h1{
  margin:0;
  font-size:24px;
}

.logo p{
  margin:0;
  font-size:14px;
}

nav{
  display:flex;
  gap:20px;
}

nav a{
  color:white;
  text-decoration:none;
  font-weight:600;
  padding:8px 14px;
  border-radius:8px;
  transition:all .3s ease;
}

nav a:hover{
  background:rgba(255,255,255,.15);
  color:#FFD43B;
}
}
</style>