<section id="beranda" class="hero">
  <div class="overlay">
    <h2>UPT SDN 265 PINRANG</h2>

    <p>
      Unggul dalam Prestasi, Berkarakter, Beriman,
      dan Peduli Lingkungan
    </p>

    <a href="#" class="btn">Selengkapnya</a>
  </div>
</section>

<style>
.hero{
    background-image: url("/images/sekolah/gedung sekolah.jpeg");
    background-size: cover;
    background-position: center;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    background: rgba(0,0,0,0.60);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.overlay h2{
    font-size: 60px;
    margin-bottom: 20px;
}

.overlay p{
    font-size: 28px;
    margin-bottom: 35px;
}

.btn{
    background: #FFC107;
    color: black;

    padding: 15px 35px;
    border-radius: 40px;

    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.btn:hover{
    background: #ffb300;
}
</style>